@import url('./normalize.css');
@import url('./variables.css');

body {
  color: var(--color-font);
  background-color: var(--color-page);

  font-family: var(--font-sans);
  font-size: var(--font-size);
}

/* Transition */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
