:root {
  /* color */
  --color-primary: #2960c7;
  --color-font: #333;
  --color-lighter: #353d41;
  --color-page: #fff;
  --color-panel: #f6f8f9;
  --color-panel-light: #fff;
  --color-ctrl: #e6ebee;
  --color-ctrl-hover: #dde4e9;
  --color-ctrl-active: #e6ebee;
  --color-preview-hover: var(--color-panel);

  /* Font */
  --font-size: 16px;
  --font-sans: 'LXGW WenKai', ui-sans-serif, sans-serif;
  --font-mono: 'Monaco', ui-monospace, monospace;

  /* Border */
  --border-base: 1px solid #eef0f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-font: #fff;
    --color-lighter: #bbc9d3;
    --color-page: #0e1113;
    --color-panel: #000;
    --color-panel-light: #191c1f;
    /* --border-base: 1px solid #191b21; */
    --border-base: 1px solid #404143;
    --color-ctrl: #2c3236;
    --color-ctrl-hover: #353d42;
    --color-ctrl-active: #2c3236;
    --color-preview-hover: #1b1d1f;
  }
}
